.mybooking_pnr > span {
    color: greenyellow;
}

.mybooking_paxIcon {
    color: greenyellow;
    height: fit-content !important;
    width: 30px !important;
    position: relative;
    top: 6px;
}

.mybooking_pax > span {
    font-size: 25px;
}

.mybooking_price {
    font-size: 25px;
}
.mybooking_price > span {
    color: greenyellow;
    font-size: 25px;
}

.mybooking_pnr {
    font-size: 25px;
}

.mybooking_delete {
    color: greenyellow;
    padding: 1%;
    font-size: 25px;
}
.mybooking_delete:hover {
    color: crimson;
    transform: scale(1.1);
}