.ftype_button {
    margin: 1%;
    font-size: 20px;
    color: greenyellow;
    padding: 1%;
}
.ftype_button:hover {
    transform: scale(1.1);
    color: cyan;
}

.ftype_header > span {
    color: greenyellow;
}

.ftype_myReservation {
    color: greenyellow;
    position: relative;
    top: 5vh;
    right: 27vw;
    padding: 1%;
    font-size: 24px;
}

.ftype_myReservation:hover {
    color: cyan;
    transform: scale(1.1);
}