.App {
  text-align: center;
  background-color: whitesmoke;
  color: midnightblue;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

select
{
  background-color: midnightblue;
  color: cyan;
  font-size: large;
  padding : 1%;
}

button{
  background-color: midnightblue;
  color: cyan;
  font-size: x-large;
}