.destcard {
    margin: 2%;
    text-align: center;
    display: inline-block;
}

.destcard_image {
    height: 240px;
    width: 200px;
    border-radius: 30%;
    background-position: center;
    border:solid 4px greenyellow;
    background-size:cover;
}

.destcard_title {
    margin: 5px !important;
    color: greenyellow;
    font-size: 24px;
}